.card .card-header.card-header-icon .card-title, .card .card-header.card-header-text .card-title {
    margin-top: 15px;
    color: #ffffff;
    font-size: 14px;
    text-align: right;
}

.card-stats .card-header.card-header-icon i {
    font-size: 40px;
    line-height: 45px;
    width: 56px;
    height: 56px;
    text-align: center;
    float: left;
}

.card [class*="card-header-"] {
    margin: 0px 15px 0px 15px;
    padding: 0;
    position: relative;
}

.card [class*="card-header-"] .card-icon, .card [class*="card-header-"] .card-text {
    border-radius: 5px;
    background-color: #999999;
    padding: 15px;
    margin-top: -10px;
    margin-right: auto;
    float: left;
}

.card [class*="card-header-"] .crud-icon{
    float: none;
}

.footer {
    position: absolute;
    bottom: 0;
}

.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus, .dropdown-menu a:hover, .dropdown-menu a:focus, .dropdown-menu a:active {
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(176, 39, 39, 0.4);
    background-color: #eb4946;
    color: #FFFFFF;
}

.btn.btn-primary {
    color: #fff;
    background-color: #eb4946;
    border-color: #ad3230;
    box-shadow: 0 2px 2px 0 rgba(176, 39, 39, 0.14), 0 3px 1px -2px rgba(176, 39, 39, 0.2), 0 1px 5px 0 rgba(176, 39, 39, 0.12);
}

.btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary:hover {
    box-shadow: 0 14px 26px -12px rgba(176, 39, 39, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(189, 53, 53, 0.2);
}

.btn.btn-primary:focus, .btn.btn-primary.focus, .btn.btn-primary:hover {
    color: #fff;
    background-color: #ad3230;
    border-color: #ad3230;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #ffffff;
    background-color: #d50c0c;
    border-color: #b30000;
}

.btn.btn-primary:active:hover, .btn.btn-primary:active:focus, .btn.btn-primary:active.focus, .btn.btn-primary.active:hover, .btn.btn-primary.active:focus, .btn.btn-primary.active.focus, .open > .btn.btn-primary.dropdown-toggle:hover, .open > .btn.btn-primary.dropdown-toggle:focus, .open > .btn.btn-primary.dropdown-toggle.focus, .show > .btn.btn-primary.dropdown-toggle:hover, .show > .btn.btn-primary.dropdown-toggle:focus, .show > .btn.btn-primary.dropdown-toggle.focus {
    color: #fff;
    background-color: #ff6d6b;
    border-color: #ffa8a6;
}